.netflux__movie {
  &Content {
    width: 100%;
    height: auto;
    background: url(http://placehold.it/1200x800);
    min-height: 900px;
    display: flex;
    flex-direction: column;
    background-size: 100vw auto;
  }

  &Actions {
    width: 160px;
    height: 70px;
    display: flex;
    align-items: center;
    margin-top: 200px;
    justify-content: space-between;

    &--play {
      width: 100px;
      background: white;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px 25px;
      text-decoration: none;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
    }
    &--add {
      width: 35px;
      height: 35px;
      background: rgba(0,0,0,0.5);
      color: white;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }
  }
}